<div class="left-nav">

<ul class="main-categories">
  	<li>Categories
      <ul>
          <li>Labor/Employment Law</li>
          <li>Antitrust and Fair Competition</li>
          <li>Business Conduct and Ethics</li>
          <li>Finance and Accounting</li>
          <li>Information Security and Intellectual Property</li>
          <li>International Trade</li>
          <li>Government Contracting</li>
          <li>European Courses</li>
          <li>Global Courses</li>
          <li>Focus Courses</li>
          <li>Modular Code Courses</li>
          <li>Pulse Solutions</li>
          <li>Consumer Protection</li>
          <li>EthiFlicks™</li>
          <li>RealBiz Shorts: Energy</li>
          <li>RealBiz Shorts: Life Scienc</li>
      </ul>
  	</li>
</ul>

</div>